---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Deveta Dimenzija">
	<main>
        <h1>Linkovi</h1>
        <h3>Пријатељи „Девете димензије“</h3>
        <a href="">„НФ-тел“ д.о.о Пале</a><br>
        <a href="">„ГРОСС“ д.о.о. Градишка, ПЈ „Рудник олова и цинка“ Сребреница Пале</a>
        <h3>Стрип сајтови</h3>
        <a href="">„System comics“ Београд – издавачка кућа</a><br>
        <a href="">„Дарквуд“ – онлајн продавница стрипова</a><br>
        <a href="">„Комико“ Нови Сад – издавачка кућа</a><br>
        <a href="">„Stripovi.com“ – прозор у свијет стрипа</a><br>
        <a href="">„Стрип вести“</a>
        <h3>Facebook</h3>
        <a href="">Лесковачка школа стрипа „Никола Митровић Кокан“</a><br>
        <a href="">Школа стрипа „Ђорђе Лобачев“ Београд</a>
        <h3>Блогови</h3>
        <a href="">„Стрипови – Бањалука“ – онлајн продаја стрипова у РС, БиХ и шире</a><br>
        <a href="">Блог Предрага Иконића</a><br>
        <a href="">Блог Милорада Вицановића</a><br>
        <a href="">Стрип Блог</a>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 2%;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
