---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Deveta Dimenzija">
	<main>
        <div class="about-container">
            <h1>О Нама</h1>
            <p>Удружењe стрип аутора и обожавалаца стрипа Републике Српске „Девета димензија“ (скраћени назив Удружење „Девета димензија“) је врло млада, самостална, независна и неполитичка организација настала као плод љубави њених чланова према деветој умјетности. Основни циљеви су промовисање девете умјетности (стрипа) у Републици Српској и шире путем разних активности, промоција стрипа Републике Српске у окружењу, Европи и свијету, учешће и помагање у акцијама сличних организација младих или организација које се боре за развој спорта, очување животне средине, употребу стимулативних средстава и сл. путем рекламних памфлета на бази стрипа, едукација младих путем школа стрипа, организовање изложби стрипа, илустрације и карикатуре и др.</p>
            <p>Удружењe „Девета димензија“SHARETWEETSHARESHARE0 COMMENTS
            Удружењe стрип аутора и обожавалаца стрипа Републике Српске „Девета димензија“ (скраћени назив Удружење „Девета димензија“) је врло млада, самостална, независна и неполитичка организација настала као плод љубави њених чланова према деветој умјетности. Основни циљеви су промовисање девете умјетности (стрипа) у Републици Српској и шире путем разних активности, промоција стрипа Републике Српске у окружењу, Европи и свијету, учешће и помагање у акцијама сличних организација младих или организација које се боре за развој спорта, очување животне средине, употребу стимулативних средстава и сл. путем рекламних памфлета на бази стрипа, едукација младих путем школа стрипа, организовање изложби стрипа, илустрације и карикатуре и др.

            Удружење „Девета димензија“ тренутно броји 70 чланова из свих дијелова Републике Српске (Бања Лука, Источно Сарајево, Лакташи, Приједор, Добој, Градишка, Невесиње, Вишеград, Козарска Дубица, Српска Костајница, Требиње…) са тенденцијом пораста.</p>
            <p>Иако је период од регистрације до данас био врло кратак, Удружење „Девета димензија“ је учествовало у неколико значајних пројекта:</p>
            <ul>
                <li>Покретање и издавање стрип магазина „Parabellum“ у ком су објављени стрипови и текстови стрип аутора из Републике Српске (до сада су изашла 3 броја);</li>
                <li>Учешће у организацији „5. Међународног салона стрипа – Лакташи 2012.“;</li>
                <li>Организовање промоција, изложби и стрип радионица на музичком фестивалу „Јелен Демофест“ 2011. и 2012. године;</li>
                <li>Учешће у стрип дешавањима на фестивалу „Фестивал анимираног филма Бањалука“ 2011. и 2012. године;</li>
            </ul>
            <p>Помоћ у финансирању пројеката Удружења „Девета димензија“ обезбјеђена је добровољним прилозима њених чланова, али и другим облицима финансијске подршке.</p>
            <p>Посебно истичемо финансијску подршку коју је пружило Министарство породице, омладине и спорта 2011. године за припремање и издавање часописа „PARABELLUM“ број 2.</p>
            <p>Општина Лакташи која је препознала залагања и значај стрипа као облика умјетничког изражавања, али и начина за успјешно промовисање културног живота у Републици Српској и подржала организовање и одржавање 5 по реду Међународног салона стрипа Лакташи 2012.</p>
            <p>Рад на пројектима удружења окупља не само младе људе из Републике Српске, већ и региона.</p>
            <p>Регионалана сарадња манифестује се на више начина. Некада присуством младих људи из региона, едукацијом, радионицама кроз које млади људи размјењују мишљења и искуства, што опет има једну димензију ширења знања и добрих пракси, што води на дугорочном плану ширењу демократије и унапређењу културе живљења у Републици Српској.</p>
            <p>Циљеви:</p>
            <ol>
                <li>унапређење и развој девете умјетности – стрипа,</li>
                <li>популаризација свих облика стрипа,</li>
                <li>продукција у области стрипа,</li>
                <li>едукација младих на пољу стрипа путем организовања стрип школа и курсева,</li>
                <li>организовање јавних манифестација из области стрипа (изложбе, фестивали, салони, такмичења/конкурси, презентације, промоције и сл.)</li>
                <li>штампање билтена Удружења са радовима домаћих и гостујућих стрип аутора,</li>
                <li>активно учешће на спречавању употребе стимулативних средстава и наркотика код стрип популације и ван ње,</li>
                <li>активно учешће у заштити природе и екологији кроз разне видове девете умјетности,</li>
                <li>интерорганизацијска и међународна сарадња са сличним Удружењема из ближег и даљег окружења,</li>
                <li>хуманитарни рад Удружења,</li>
                <li>ангажовање у заштити ауторских права својих чланова,</li>
                <li>оснивање стрипарница (специјализованих продавница стрип издања и материјала потребних за цртање стрипова)</li>
                <li>сви други задаци који су од интереса за удружење, ширу заједницу и девету умјетност уопште.</li>
            </ol>
            <p>Предсједник: Зоран Пејић</p>
            <p>Управни одбор: Милорад Вицановић, Дејан Шијук, Станко Гојић, Радован Субић, Предраг Иконић</p>
            <p>Скупштина: Сви чланови</p>

        </div>
        </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
        padding-top: 2%;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
        background-color: green;
	}
    .about-container > h1 {
        padding-bottom: 5%;
    }
    .about-container > p {
        padding-bottom: 2%;
    }
</style>
