<footer>
    <div class="container">
        <div id="logo-footer">
            <img src="dimenzija-logo.png" alt="Девета димензија">
        </div>
        <div>
            <p>Удружење стрип аутора и обожавалаца стрипа Републике Српске "Девета димензија"</p>
            <p>Ул. Талијанског батаљона Матеоти 6<br> Бања Лука <br> Република Српска</p>
            <p>Тел. 065/347-661</p>
        </div>
    </div>
</footer>

<style>
	.container {
        background-color: turquoise;
        color: white;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
	}
</style>