<header>
    <div class='container'>
        <a href='/'>
            <img src="/dimenzija-logo.png">
            <h1>ДЕВЕТА ДИМЕНЗИЈА</h1>
        </a>
        <div class='links'>
            <a
            href='/'
            rel='noopener noreferrer'
            aria-label='Naslovna'
            >
            НАСЛОВНА
            </a>
            <a
            href='/o-nama'
            rel='noopener noreferrer'
            aria-label='O-Nama'
            >
            О НАМА
            </a>
            <a
            href='/strip-srpske'
            rel='noopener noreferrer'
            aria-label='Strip-Srpske'
            >
            СТРИП СРПСКЕ
            </a>
            <a
            href='/arhiva'
            rel='noopener noreferrer'
            aria-label='Arhiva'
            >
            АРХИВА
            </a>
            <a
            href='/linkovi'
            rel='noopener noreferrer'
            aria-label='Linkovi'
            >
            ЛИНКОВИ
            </a>
            <a
            href='/'
            rel='noopener noreferrer'
            aria-label='Kontakt'
            >
            КОНТАКТ
            </a>
        </div>
    </div>
</header>

<style>
	header {
		padding: 1% 2% 0.5%;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.container > a {
		display: flex;
		align-items: center;
	}
    
	a {
		text-decoration: none;
		color: #FFFFFF;
		gap: 5px;
	}
</style>